footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;    
    z-index: 1;
    background-color: #232832;

    a {
        color: white;
        transition: ease-in-out 0.1s;
    }

    a:hover {
        text-decoration: none;
        color: rgb(71, 109, 139);
    }

    .footer-copyright {
        display: flex;
        justify-content: space-around;
    }
} 